:root {
    --primary-color: #a19898; /* Definindo a cor primária como azul claro */
    --secondary-color: #ee6e6e; /* Definindo a cor secundária como branco */
    --accent-color: #fd6565; /* Definindo a cor de destaque como bege claro */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* Definindo o tamanho da fonte base em 10px para facilitar o cálculo */
}

body {
    background-color: var(--primary-color); /* Definindo o fundo do corpo como a cor primária (azul claro) */
    font: bold 2rem 'Open Sans', sans-serif; /* Definindo a fonte do corpo */
}

.todo {
    display: flex;
    width: 50vw; /* Definindo a largura da área de tarefas como 50% da largura da viewport */
    flex-direction: column; /* Alinhando as tarefas verticalmente */
    align-items: center; /* Centralizando as tarefas horizontalmente */
    margin: 0 auto; /* Centralizando o bloco de tarefas na página */
    gap: 15px; /* Adicionando espaçamento entre as tarefas */
}

.todo__title {
    display: flex;
    background-color: var(--secondary-color); /* Definindo o fundo do título como a cor secundária (branco) */
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 50px; /* Adicionando espaço entre o topo da página e o título */
    box-shadow: 1px 1px 5px var(--accent-color); /* Adicionando uma sombra ao título usando a cor de destaque (bege claro) */
    font-size: 3rem; /* Definindo o tamanho da fonte do título */
    color: var(--primary-color); /* Definindo a cor do texto como a cor primária (azul claro) */
}

.todo__list {
    display: flex;
    width: 100%;
    flex-direction: column; /* Alinhando as tarefas verticalmente */
    gap: 10px; /* Adicionando espaçamento entre as tarefas */
}

.todo__item {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 1px 1px 5px var(--accent-color); /* Adicionando uma sombra aos itens usando a cor de destaque (bege claro) */
}

.todo__item > div {
    width: 80%; /* Definindo a largura do texto da tarefa */
}

.todo__item:hover {
    cursor: pointer;
    transition: all .5s ease;
    background-color: var(--secondary-color); /* Alterando o fundo do item em destaque para a cor secundária (branco) */
    color: var(--primary-color); /* Alterando a cor do texto do item em destaque para a cor primária (azul claro) */
}

.todo__item > input[type='text'] {
    border: none;
    width: 80%; /* Definindo a largura do campo de texto da tarefa */
    font: inherit;
}

.todo__item > input[type='button'],
.todo__item > input[type='checkbox'] {
    width: 30px;
    height: 30px;
    font: inherit;
}

.todo__item > input[type='checkbox']:checked + div {
    text-decoration: line-through; /* Adicionando uma linha de texto riscado aos itens marcados como concluídos */
}

.todo__new-item {
    display: flex;
    background-color: var(--accent-color); /* Definindo o fundo do novo item como a cor de destaque (bege claro) */
    width: 100%;
    height: 70px;
    justify-content: space-evenly;
    padding: 10px 0;
    box-shadow: 1px 1px 5px var(--accent-color); /* Adicionando uma sombra ao novo item usando a cor de destaque (bege claro) */
    margin: 10px; /* Adicionando espaçamento entre o novo item e as tarefas */
    font: inherit;
}

.todo__new-item > input {
    background-color: var(--accent-color); /* Definindo o fundo do campo de texto do novo item como a cor de destaque (bege claro) */
    border: none;
    width: 80%; /* Definindo a largura do campo de texto do novo item */
    outline: none;
    font: inherit;
}

.todo__new-item > input::placeholder {
    font-style: italic;
    font-weight: normal;
}
